# Dataset analysis

- Pourquoi mauvais shell pyenv ?

In [1]:
import pandas as pd

In [6]:
df_ibm = pd.read_csv('../data/2 Year IBM Stock Data.csv')
print(df_ibm[:5])
df_ibm.tail()

              time     open    high      low   close  volume
0  3/25/2022 19:19  131.300  131.30  131.300  131.30     718
1  3/25/2022 19:18  131.300  131.30  131.300  131.30     282
2  3/25/2022 17:50  131.300  131.30  131.300  131.30     100
3  3/25/2022 16:59  131.340  131.35  131.340  131.35    1427
4  3/25/2022 16:42  131.326  131.35  131.326  131.35    1326

                 time       open       high        low      close  volume
216878  4/6/2020 7:27  95.385037  95.385037  95.385037  95.385037     854
216879  4/6/2020 7:25  94.530379  94.530379  94.530379  94.530379     450
216880  4/6/2020 7:08  94.703037  94.703037  94.703037  94.703037     436
216881  4/6/2020 7:02  95.479999  95.479999  95.479999  95.479999     575
216882  4/6/2020 7:01  94.979290  94.979290  94.979290  94.979290     452

## Data Collection

## Data cleansing